demos/data/test.dtd

<!ELEMENT test          (sometag*,anothertag*,lasttag*)>
<!ATTLIST test          age CDATA #IMPLIED>
<!ELEMENT sometag       (#PCDATA)>
<!ATTLIST sometag       name CDATA #IMPLIED>
<!ELEMENT anothertag    (#PCDATA)>
<!ATTLIST anothertag    name CDATA #IMPLIED>
<!ELEMENT lasttag       (#PCDATA)>
<!ENTITY ct "4 commerce technologies">
<!NOTATION type2 SYSTEM "program2">
<!ENTITY FOO2 SYSTEM "file.type2" NDATA type2>
